.columns-wrapper::-webkit-scrollbar {
    display: none;
}

.columns-wrapper > :first-child {
    margin-left: 20px;
}
  
.columns-wrapper > :last-child {
    margin-right: 20px;
}

.columns-wrapper .column:last-child .kebab-menu-container .popup-menu {
    right: 0;
    left: auto;
}

@media (max-width: 1368px) {

body {
    overflow-y: hidden;
}

.columns-wrapper {
    padding-bottom: 50px;
}

.column {
    height: calc(100vh - 80px);
}

.tasks-list {
    overflow-y: auto;
}

.scroll-buttons {
    justify-content: space-between;
}

.kebab-menu-container {
    position: relative;
}

.kebab-menu-container .popup-menu {
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(-100%);
    z-index: 1050;
}
}
  
.list-buttons-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.board-buttons-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

@media (max-width: 768px) {
    .board-buttons-container, .list-buttons-container {
        flex-direction: column;
        gap: 10px;
    }
}