@media (max-width: 1368px) {
    .details-modal-content {
        width: 80%;
        height: 80%;
        overflow-y: auto;
    }

    .task-details {
        flex-direction: column;
    }

    .task-info {
        flex: 1;
        overflow-y: auto;
    }

    .history-section {
        flex: 1;
        width: auto;
        max-height: none;
        overflow-y: auto;
    }
}
